
@{
    ViewBag.Title = "Aboutus";
}

<div class="breadcrumb-area pt-30 pb-60">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-content">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li class="active">About Us</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- FB's Breadcrumb Area End Here -->
<!-- Begin Page Content Area -->
<main class="page-content">
    <!-- About Page Area -->
    <div class="about-area section-padding-lg">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-thumb fb-img-hover-effect">
                        <a href="#">
                            <img src='@Href("~/images/about-us/1.jpg")' alt="about image">
                        </a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-content">
                        <h2>WELCOME TO <span>FastBuy</span> WORLD</h2>
                        <p>We Provide Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae nisi fuga facilis, consequuntur, maiores eveniet voluptatum, omnis possimus temporibus aspernatur nobis animi in exercitationem vitae nulla! Adipisci ullam illum quisquam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, nulla veniam? Magni aliquid asperiores magnam. Veniam ex tenetur.</p>
                        <a href='@Url.Action("Index","Collection")' class="fb-btn">
                            <span>SHOP NOW</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About Page Area -->
    <!-- Skills Area -->
</main>
<!--Page Content Area End Here -->
<!-- Begin FB's Branding Area -->
<div class="fb-branding-wrap pt-30 pb-60 pt-sm-20">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="fb-branding bg-white">
                    <div class="fb-branding_active owl-carousel">
                        <div class="branding-item">
                            <a href="#">
                                <img src='@Href("~/images/branding/1.jpg")' alt="FB's Branding">
                            </a>
                        </div>
                        <div class="branding-item">
                            <a href="#">
                                <img src='@Href("~/images/branding/2.jpg")' alt="FB's Branding">
                            </a>
                        </div>
                        <div class="branding-item">
                            <a href="#">
                                <img src='@Href("~/images/branding/3.jpg")' alt="FB's Branding">
                            </a>
                        </div>
                        <div class="branding-item">
                            <a href="#">
                                <img src='@Href("~/images/branding/4.jpg")' alt="FB's Branding">
                            </a>
                        </div>
                        <div class="branding-item">
                            <a href="#">
                                <img src='@Href("~/images/branding/5.jpg")' alt="FB's Branding">
                            </a>
                        </div>
                        <div class="branding-item">
                            <a href="#">
                                <img src='@Href("~/images/branding/6.jpg")' alt="FB's Branding">
                            </a>
                        </div>
                        <div class="branding-item">
                            <a href="#">
                                <img src='@Href("~/images/branding/1.jpg")' alt="FB's Branding">
                            </a>
                        </div>
                        <div class="branding-item">
                            <a href="#">
                                <img src='@Href("~/images/branding/2.jpg")' alt="FB's Branding">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

