<div class="breadcrumb-area pt-30">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-content">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li class="active">Login Register</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- FB's Breadcrumb Area End Here -->
<!-- Begin Login Content Area -->
<div class="page-section pt-60 pb-60">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6 mb-30">
                <!-- Login Form s-->
                <form class="form-login">
                    <div class="login-form">
                        <h4 class="login-title">Login</h4>
                        <div class="row">
                            <div class="col-md-12 col-12 mb-20">
                                <label>Email Address*</label>
                                <input id="email_login" class="mb-0" type="email" placeholder="Email Address">
                            </div>
                            <div class="col-12 mb-20">
                                <label>Password</label>
                                <input id="password_login" class="mb-0" type="password" placeholder="Password">
                            </div>
                            <div class="col-md-12">
                                <button type="submit" class="register-button mt-0">Login</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 col-xs-12">
                <form class="form-register">
                    <div class="login-form">
                        <h4 class="login-title">Register</h4>
                        <div class="row">
                            <div class="col-md-6 col-12 mb-20">
                                <label>First Name</label>
                                <input class="mb-0" type="text" placeholder="First Name" id="first_name">
                            </div>
                            <div class="col-md-6 col-12 mb-20">
                                <label>Last Name</label>
                                <input class="mb-0" type="text" placeholder="Last Name" id="last_name">
                            </div>
                            <div class="col-md-12 mb-20">
                                <label>Email Address*</label>
                                <input class="mb-0" type="email" placeholder="Email Address" id="email">
                            </div>
                            <div class="col-md-12 mb-20">
                                <label>Password</label>
                                <input class="mb-0" type="password" placeholder="Password" id="password">
                            </div>
                            <div class="col-md-12 mb-20">
                                <label>Phone</label>
                                <input class="mb-0" type="text" placeholder="Phone" id="phone">
                            </div>
                            <div class="col-md-12 mb-20">
                                <label>Country</label>
                                <input class="mb-0" type="text" placeholder="Country" id="country">
                            </div>
                            <div class="col-md-12 mb-20">
                                <label>Address</label>
                                <input class="mb-0" type="text" placeholder="Address" id="address">
                            </div>
                            <div class="col-12">
                                <button type="submit" class="register-button mt-0">Register</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Login Content Area End Here -->
<!-- Begin FB's Branding Area -->
<div class="fb-branding-wrap pb-60">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="fb-branding bg-white">
                    <div class="fb-branding_active owl-carousel">
                        <div class="branding-item">
                            <a href="#">
                                <img src='@Href("~/images/branding/1.jpg")' alt="FB's Branding">
                            </a>
                        </div>
                        <div class="branding-item">
                            <a href="#">
                                <img src='@Href("~/images/branding/2.jpg")' alt="FB's Branding">
                            </a>
                        </div>
                        <div class="branding-item">
                            <a href="#">
                                <img src='@Href("~/images/branding/3.jpg")' alt="FB's Branding">
                            </a>
                        </div>
                        <div class="branding-item">
                            <a href="#">
                                <img src='@Href("~/images/branding/4.jpg")' alt="FB's Branding">
                            </a>
                        </div>
                        <div class="branding-item">
                            <a href="#">
                                <img src='@Href("~/images/branding/5.jpg")' alt="FB's Branding">
                            </a>
                        </div>
                        <div class="branding-item">
                            <a href="#">
                                <img src='@Href("~/images/branding/6.jpg")' alt="FB's Branding">
                            </a>
                        </div>
                        <div class="branding-item">
                            <a href="#">
                                <img src='@Href("~/images/branding/1.jpg")' alt="FB's Branding">
                            </a>
                        </div>
                        <div class="branding-item">
                            <a href="#">
                                <img src='@Href("~/images/branding/2.jpg")' alt="FB's Branding">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.form-register').submit(function (e) {
            e.preventDefault();
            $.ajax(
                {
                    type: "POST", //HTTP POST Method
                    url: "/Customer/Register", // Controller/View
                    data: { //Passing data
                        Id: generateId(6),
                        FirstName: $('#first_name').val(),
                        LastName: $("#last_name").val(),
                        Email: $("#email").val(),
                        Password: $("#password").val(),
                        Phone: $("#phone").val(),
                        Country: $("#country").val(),
                        Address: $("#address").val()
                    },
                    success: function (response) {
                        console.log(response);
                    }
                });
        })
        $('.form-login').submit(function (e) {
            e.preventDefault();
            $.ajax(
                {
                    type: "POST", //HTTP POST Method
                    url: "/Customer/Login", // Controller/View
                    data: { //Passing data
                        email: $("#email_login").val(),
                        password: $("#password_login").val()
                    },
                    success: function (response) {
                        if (response == "Login successfull") {
                            window.location.replace("http://localhost:50002/Customer/MyAccount");
                        }
                    }
                });
        })
        function generateId(length) {
            var result = '';
            var characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
            var charactersLength = characters.length;
            for (var i = 0; i < length; i++) {
                result += characters.charAt(Math.floor(Math.random() * charactersLength));
            }
            return result;
        }
    })
</script>