
@{
    ViewBag.Title = "MyAccount";
    var customer = ViewBag.Customer;
}

<div class="breadcrumb-area pt-30">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-content">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li class="active">Login Register</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- FB's Breadcrumb Area End Here -->
<!-- Begin FB's Page Content Area -->
<main class="page-content">
    <!-- Begin FB's Account Page Area -->
    <div class="account-page-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <ul class="nav myaccount-tab-trigger" id="account-page-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" id="account-orders-tab" data-toggle="tab"
                               href="#account-orders" role="tab" aria-controls="account-orders"
                               aria-selected="false">Orders</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="account-details-tab" data-toggle="tab"
                               href="#account-details" role="tab" aria-controls="account-details"
                               aria-selected="false">Account Details</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="account-logout-tab" href='@Url.Action("Logout","Customer")'
                               role="tab" aria-selected="false">Logout</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-9">
                    <div class="tab-content myaccount-tab-content" id="account-page-tab-content">
                        <div class="tab-pane fade" id="account-orders" role="tabpanel"
                             aria-labelledby="account-orders-tab">
                            <div class="myaccount-orders">
                                <h4 class="small-title">MY ORDERS</h4>
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover">
                                        <tbody>
                                            <tr>
                                                <th>ORDER</th>
                                                <th>DATE</th>
                                                <th>STATUS</th>
                                                <th>TOTAL</th>
                                                <th></th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a class="account-order-id"
                                                       href="javascript:void(0)">#5364</a>
                                                </td>
                                                <td>Mar 27, 2019</td>
                                                <td>On Hold</td>
                                                <td>£162.00 for 2 items</td>
                                                <td>
                                                    <a href="javascript:void(0)"
                                                       class="fb-btn fb-btn_dark fb-btn_sm"><span>View</span></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a class="account-order-id"
                                                       href="javascript:void(0)">#5356</a>
                                                </td>
                                                <td>Mar 27, 2019</td>
                                                <td>On Hold</td>
                                                <td>£162.00 for 2 items</td>
                                                <td>
                                                    <a href="javascript:void(0)"
                                                       class="fb-btn fb-btn_dark fb-btn_sm"><span>View</span></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="account-details" role="tabpanel"
                             aria-labelledby="account-details-tab">
                            <div class="myaccount-details">
                                <form action="#" class="fb-form">
                                    <div class="fb-form-inner">
                                        <div class="single-input single-input-half">
                                            <label for="account-details-firstname">First Name*</label>
                                            <input type="text" id="account-details-firstname" value="@customer.FirstName">
                                        </div>
                                        <div class="single-input single-input-half">
                                            <label for="account-details-lastname">Last Name*</label>
                                            <input type="text" id="account-details-lastname" value="@customer.LastName">
                                        </div>
                                        <div class="single-input">
                                            <label for="account-details-email">Email*</label>
                                            <input type="email" id="account-details-email" value="@customer.Email">
                                        </div>
                                        <div class="single-input">
                                            <label for="account-details-oldpass">
                                                Password
                                            </label>
                                            <input type="password" id="account-details-oldpass" value="@customer.Password">
                                        </div>
                                        <div class="single-input single-input-half">
                                            <label for="account-details-lastname">Phone*</label>
                                            <input type="text" id="account-details-phone" value="@customer.Phone">
                                        </div>
                                        <div class="single-input single-input-half">
                                            <label for="account-details-lastname">Country*</label>
                                            <input type="text" id="account-details-country" value="@customer.Country">
                                        </div>
                                        <div class="single-input single-input-half">
                                            <label for="account-details-lastname">Address*</label>
                                            <input type="text" id="account-details-address" value="@customer.Address">
                                        </div>
                                        <div class="single-input">
                                            <button class="fb-btn fb-btn_dark"
                                                    type="submit">
                                                <span>
                                                    SAVE
                                                    CHANGES
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FB's Account Page Area End Here -->
</main>
<!-- FB's Page Content Area End Here -->
<!-- Begin FB's Branding Area -->
<div class="fb-branding-wrap pb-60">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="fb-branding bg-white">
                    <div class="fb-branding_active owl-carousel">
                        <div class="branding-item">
                            <a href="#">
                                <img src='@Href("~/images/branding/1.jpg")' alt="FB's Branding">
                            </a>
                        </div>
                        <div class="branding-item">
                            <a href="#">
                                <img src='@Href("~/images/branding/2.jpg")' alt="FB's Branding">
                            </a>
                        </div>
                        <div class="branding-item">
                            <a href="#">
                                <img src='@Href("~/images/branding/3.jpg")' alt="FB's Branding">
                            </a>
                        </div>
                        <div class="branding-item">
                            <a href="#">
                                <img src='@Href("~/images/branding/4.jpg")' alt="FB's Branding">
                            </a>
                        </div>
                        <div class="branding-item">
                            <a href="#">
                                <img src='@Href("~/images/branding/5.jpg")' alt="FB's Branding">
                            </a>
                        </div>
                        <div class="branding-item">
                            <a href="#">
                                <img src='@Href("~/images/branding/6.jpg")' alt="FB's Branding">
                            </a>
                        </div>
                        <div class="branding-item">
                            <a href="#">
                                <img src='@Href("~/images/branding/1.jpg")' alt="FB's Branding">
                            </a>
                        </div>
                        <div class="branding-item">
                            <a href="#">
                                <img src='@Href("~/images/branding/2.jpg")' alt="FB's Branding">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

